//for Kinjiro
//Level3: very striking
#LblVer {
  width: 218px !important;
}

#Panel1 {
  padding-bottom: 7px !important;
  background-color: #006600 !important;
}

#WucMenu1_BtnLogin,
#WucMenu1_BtnLogout,
#SelectScreen1_TxtApplyStartDate,
#SelectScreen1_TxtApplyEndDate,
#WucMenu1_TxtButtonHide,
#ComSelTest_TXT_APPLICATDAY_S,
#ComSelTest_TXT_APPLICATDAY_E,
#ComSelect1_TXT_APPLICATDAY_S,
#ComSelect1_TXT_APPLICATDAY_E,
#TxtCbFreeSlct {
  opacity: .1 !important;
}

#LblNoFont2 {
  line-height: 50pt !important;
}

span#Label11 {
  height: 17px;
  text-indent: 0.3em;
}

body[ms_positioning="GridLayout"] #Table1[width="298"] {
  top: 137px !important;
}

body[ms_positioning="GridLayout"] #Form1 #BtnClose {
  left: 134px !important;
  top: 394px !important;
}

//Level2: striking
#TxtStartDate {
  width: 84px !important;
}

#TxtEndDate {
  width: 84px !important;
}

//Level1 making better
#Table12 #Table7 #Table6 #Table2 td {
  width: 450px !important;
}

#Table12 #Table7 #Table6 #Table2 td input {
  margin:0 0 20px 80px !important;
}

#BtnGaisyutu,
#BtnModori {
  font-size: 11pt !important;
  font-weight: normal !important;
  width: 55px !important;
  height: 35px !important;
}
